<mat-sidenav-container
  class="app-sidenav-container"
  [class.dark-theme]="isDarkTheme"
>
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z15"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">Contacts</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let user of users | async"
        [routerLink]="['/contact', user.id]"
      >
        <mat-list-item>
          <mat-icon svgIcon="{{ user.avatar }}"></mat-icon>
          <span matLine>{{ user.name }}</span>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar
      (toggleSidenav)="sidenav.toggle()"
      (toggleTheme)="toggleTheme()"
    ></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
